.Signup-NavbarItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 0 30px;
    background-color: #ffffff;
    box-shadow: 0 0.5px 15px rgba(0, 0, 0, 0.25);
    width: 95%;
    height: 80px;
    border-radius: 13px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 9999;
    margin-bottom: 5rem;
}

.signup-logo {
    color: #000000;
    justify-self: start;
    cursor: pointer;
    white-space: nowrap;
    margin-right: 10px;
}

.fa-artstation {
    margin-left: 0.2rem;
    font-size: 1.6rem;
}

.create-account{
    margin-top: 10rem;
    padding: 40px;
    box-shadow: 0 0.5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgb(250, 247, 242);
}

.create-account h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.create-account h5 {
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-form input {
    margin-bottom: 2rem;
    padding: 1.5rem;
    width: 50%;
    border-radius: .5rem;
    border: 1px solid #161616;
}

.signup-form .signup-button {
    padding: 20px;
    color: #000000;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

.signup-form .signup-button:hover {
    color: #fff;
    background-color: rgb(158, 126, 87);
}

.redirect-signin {
    margin-top: 2rem;
}

.redirect-signin a {
    text-decoration: none;
    color: rgb(158, 126, 87);
}

.artist-link {
    text-decoration: none;
    color: #000;
}

@media screen and (max-width: 850px){
    .signup-form input {
        margin-bottom: 1.5rem;
        padding: 1.5rem;
        width: 100%;
    }

    .create-account h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    
    .create-account h5 {
        font-size: 1.1rem;
        margin-bottom: 2.5rem;
    }
}