.login-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

.left {
  flex: 2;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.logo-login {
  width: 200px;
  margin-bottom: 4rem !important;
  margin: auto;
}

.login-forminput {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-button {
  width: 200px;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 5px;
  padding: 20px;
  color: #000000;
  font-weight: 600;
  font-size: 1rem;
  border: none;
}

.login-button:hover {
  color: #fff;
  background-color: rgb(158, 126, 87);
}

.signup-redirect {
  margin-top: 2rem;
  text-align: center;
  font-size: .9rem;
}

.signup-redirect a {
  text-decoration: none;
  color: rgb(158, 126, 87);
}

.login-image {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
  
.login-forminput input {
    margin-bottom: 1.7rem;
    padding: 1.1rem;
    width: 50%;
    border-radius: .5rem;
    border: 1px solid #161616;
    font-size: 1rem;
}

.artists-link {
  text-decoration: none;
  color: #000;
}

@media screen and (max-width: 850px){
    .login-form {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 15rem;
    }

    .login-image {
        display: none;
      }
      .login-forminput input {
        margin-bottom: 2rem;
        padding: 1rem;
        width: 100%;
        border-radius: .5rem;
        border: 1px solid #161616;
    }
}